
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>RPIC Membres</title>

<!-- Bootstrap -->
<link rel="stylesheet" href="{% static 'home/css/bootstrap.css' %}">

</head>
<body>
<!-- Main Container -->
<div class="container"> 
  <!-- Navigation -->
  <header> <a href="{% url 'rpicHomep' %}">
    <h4 class="logo">RPIC</h4>
    </a>
    <nav>
      <ul>
        <li><a href="{% url 'rpicHomep' %}">HOME</a></li>
        <li><a href="{% url 'membres' %}">MEMBERS</a></li>
        <li><a href="{% url 'univers1' %}">ABOUT</a></li>
        <li> <a href="{% url 'contact' %}">CONTACT</a></li>
      </ul>
    </nav>
  </header>
<!--  SECTION-1 -->
<section>
  <div>
    <div class="col-lg-12 page-header text-center">
      <h2>ABOUT US</h2>
    </div>
  </div>
  <div class="container ">
<div class="row">
      <div class="col-lg-4 col-sm-12 text-center"><img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="https://scontent-mrs1-1.xx.fbcdn.net/v/t1.0-9/405319_187935831322447_1670288752_n.jpg?oh=ebb82b2abeafd0918ded57c569e9d803&oe=58D2F55D" data-holder-rendered="true">
        <h3>Jérémy Nonn : MJ 1</h3>
        <p>Fondateur associé il à créér le scénario, la carte, les guildes et il est également un MJ.</p>
      </div>
      <div class="col-lg-4 col-sm-12 text-center"><img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="https://scontent-mrs1-1.xx.fbcdn.net/v/t1.0-9/11059770_855005771235124_810426154943908817_n.jpg?oh=88d7343b8cd7d1c44d6ec8bc51f6dd88&oe=5888B2E3" data-holder-rendered="true">
        <h3>Thomas Girault : MJ 2</h3>
        <p>Nouveau MJ avec une longue expérience de JDR derriere lui.</p>
      </div>
      <div class="col-lg-4 col-sm-12 text-center"><img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="http://statici.behindthevoiceactors.com/behindthevoiceactors/_img/chars/rias-gremory-high-school-dxd-7.28.jpg" data-holder-rendered="true">
        <h3>Antonin Maillet</h3>
        <p>Co-fondateur et créateur du site web je suis aussi un joueur. Je suis Rias Gremory, une elfe de mana mi succube.</p>
      </div>
      <div class="col-lg-4 col-sm-12 text-center"><img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="http://vignette4.wikia.nocookie.net/highschooldxd/images/6/6a/Vali_new2.png" data-holder-rendered="true">
        <h3>Vincent Milles-Lacroix</h3>
        <p>Elfe archer.</p>
      </div>
      <div class="col-lg-4 col-sm-12 text-center"><img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="https://s-media-cache-ak0.pinimg.com/564x/2f/c2/73/2fc27313195faa853058d06e3d92e286.jpg" data-holder-rendered="true">
        <h3>Arthur Rouaix</h3>
        <p>Un singe.</p>
      </div>
      <div class="col-lg-4 col-sm-12 text-center"><img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="http://aventures.roldaice.free.fr/Images/BlindingMageDeschamps.jpg" data-holder-rendered="true">
        <h3>Baudouin La</h3>
        <p>Un elfe mage de lumière très en rogne avec les nains.</p>
      </div>
      <div class="col-lg-4 col-sm-12 text-center"><img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="http://img.xooimage.com/files110/c/4/9/vip-re-4eb61e9.png" data-holder-rendered="true">
        <h3>Guillaume Pasquereau</h3>
        <p>Un chanteur aveugle.</p>
      </div>
      <div class="col-lg-4 col-sm-12 text-center"><img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="https://s-media-cache-ak0.pinimg.com/564x/2e/f0/fc/2ef0fc90f7ad771738c4450f1ededb21.jpg" data-holder-rendered="true">
        <h3>Hugo Briet</h3>
        <p>Un nain.</p>
      </div>
      <div class="col-lg-4 col-sm-12 text-center"><img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="https://image.freepik.com/free-icon/question-mark_318-52837.jpg" data-holder-rendered="true">
        <h3>Sebastien Gomez</h3>
        <p>Un nouveau.</p>
      </div>
     <div class="col-lg-4 col-sm-12 text-center"><img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="https://image.freepik.com/free-icon/question-mark_318-52837.jpg" data-holder-rendered="true">
        <h3>???</h3>
        <p>Un nouveau.</p>
      </div>
      <div class="col-lg-4 col-sm-12 text-center"><img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="https://image.freepik.com/free-icon/question-mark_318-52837.jpg" data-holder-rendered="true">
        <h3>???</h3>
        <p>Un nouveau.</p>
      </div>
      <div class="col-lg-4 col-sm-12 text-center"><img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="https://image.freepik.com/free-icon/question-mark_318-52837.jpg" data-holder-rendered="true">
        <h3>Peut-être vous !</h3>
        <p>Envoyez nous un message !</p>
      </div>
    </div>
 <footer class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>Copyright © Maillet Antonin. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
<!-- / FOOTER --> 

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="{% static 'home/js/jquery.js' %}"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="{% static 'home/js/bootstrap.js' %}"></script>
</body>
</html>
