
{% load static %}

<!doctype html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>RPIC</title>
<link href="{% static 'home/css/singlePageTemplate.css' %}" rel="stylesheet" type="text/css">

<script>var __adobewebfontsappname__="dreamweaver"</script>
<script src="http://use.edgefonts.net/source-sans-pro:n2:default.js" type="text/javascript"></script>

</head>
<body>
<!-- Main Container -->
<div class="container"> 
  <!-- Navigation -->
  <header> <a href="{% url 'rpicHomep' %}">
    <h4 class="logo">RPIC</h4>
    </a>
    <nav>
      <ul>
        <li><a href="{% url 'rpicHomep' %}">HOME</a></li>
        <li><a href="{% url 'membres' %}">MEMBERS</a></li>
        <li><a href="{% url 'univers1' %}">ABOUT</a></li>
        <li> <a href="{% url 'contact' %}">CONTACT</a></li>
      </ul>
    </nav>
  </header>
    
 
  <!-- About Section -->
  <section class="about" id="about">
    <h2 class="hidden">About</h2>
    <p class="text_column">Il y a 800 ans, Edelia vivait dans une semblant d’harmonie , les peuples étaient dirigés par des gouvernements (dictature, monarchie, démocratie) ont distinguait alors 10 grandes nations qui ne se mêlait pas entre eux, ils formaient ce qu’on appellerait maintenant des races: Les humains typés occidentaux (royauté), Les humains typés extrême orient (Empire dictaturial), Les humains typés moyen orient (démocratie), Les Simiens, Les elfes blancs, Les elfes noirs, Les nains, Les vikings, Les démons et Les fonguciens.
</p>
    <p class="text_column"> Ils se croyaient en sécurité mais les dragons, du jour au lendemain, sous les impulsions machiavélique du grand mage noir : Ragar, sont devenu fou. Il se sont mis à dévaster le monde de Edelia, les citoyens mouraient par milliers, l’impuissance de la sécurité promise par les nations fut révélé au grand jours.

C’est alors que naquirent les guildes, des organismes privée de défense des nations, autrefois elle défendait la population gratuitement car le monde était dans un état apocalyptique. Cependant une fois les dragons maîtrisé et tué le monde avait besoin d’un nouvelle ordre mondial. Le royaume des humains fût alors éclater et la populations se dirigea naturellement vers les villes que construisait les guildes.
</p>
    <p class="text_column">La population oublia alors le système de gouvernement politique et décida d’être sous le dogme de guilde, de les payer et les nourrir contre protection. C’est alors qu’à émerger de grande guildes principal, même si il est fréquent qu’un regroupement de grand guerrier tente de se créer leur guildes.</p>
  </section>
  
  <!-- Parallax Section -->
  <section>
  <h1>Les guildes :</h1>
  <h2>Royalis</h2>
    <p>
Cette guilde est ce qu’il reste de l’ancienne royauté humaine, La guilde se situe dans l’ancienne capital des orientaux Port Réal. Réputé pour posséder dans leur adhérent une grande partie de l’ex-noblesse, ils ont développé de grand moyen de défense des transports de marchandise afin que leur ville se développe de façon commercial dans cette nouvelle ère.
Leur chef est choisi par les liens du sang.
</p>
<h2>Stélaria</h2>
<p>
Cette guilde a créé la ville la plus grande en superficie: Stélaria. Les membres de Stélaria sont tous d’ex elfe blancs qui ont fini drogué au mana, ils ont développé de très grand pouvoir magique.
Cette guilde de part sa restriction des membres (uniquement elfes blancs) fait que certaines personnes considèrent ses membres (ou les enfants de ses membres) comme une nouvelle race: les elfes de mana.
Leur chef est choisi par la popularité (sorte de démocratie)
-Le grand clan des vikings
Cette guilde situé au milieu des grandes montagnes blanches dans la ville de valalhum, cette guilde, accepte toute personne qui n’as peur de plonger ses mains dans le corps de ses ennemi pour en extirper le coeur et le voir mourir sous ses yeux.
Ce n’est pas eux que les habitants vont voir pour des missions de finesses. mais bon dans les montagnes blanches personnes n’est très fin
N’importe qui peut être chef si il tue le chef dans un défi à main nu devant les autre de la guildes

</p>
<h2>Isepia (votre guilde)</h2>
<p>
Il s’agit d’une guilde situé à l’est du monde dans la ville d’Isep-town.
Isépia est une guilde très polyvalente de pars ses races et ses missions qu’elle accomplit, c’est une guildes très apprécié par la population alentour car elle fait parti de l’une des première guilde créer qui ont servie a protégé la population des dragons.
Le chef actuel est Liemly un très grand mage assez âgée, d’une sagesse et d’une tolérance incommensurable, mais il ne faut pas oublier qu’il reste un chef qui veut développer la puissance de sa guilde.
Le chef de la guilde se décide lorsque l’ex-chef prend sa retraite (s'il vient à mourir le chef a normalement mis dans une urne le nom du successeur)
</p>
<h2>La pièce</h2>
<p>
Cette guilde a construit sa ville ; capitalisum, dans les montagnes naines, il s’agit d’une guilde marchande qui a été construite il y a une centaine d’année, car elle s'occupe de développer ses ressource en faisant sous traiter la défense et la protection a d’autre guilde, elle n’avait donc pas sa place avant, cependant maintenant le monde semble retrouver un semblant de calme, il n’est pas rare aujourd’hui qu’un aventurier est déjà participé à une mission pour cette guilde même sans en faire parti.
le chef est tout simplement le plus riche de la guilde au moment où il meurt.
</p>
<h2>Le sable doré</h2>
<p>
Le désert est un climat très difficil à apprivoiser. C’est pour cela que cette guilde c’est positionné dedans, grâce a leur grand savoir ils ont pu dompter le terrain, servant alors de très bonne défense aux attaques des morts et des démons au alentour.
Leur ville: Raha est considéré comme le coeur technologique du monde
Cette guilde choisi leur chef de manière démocratique tout les 10 ans
</p>
<h2>Anachronia</h2>
<p>
La folie, La démance, la perversion, tout ce qui est mentalement instable est dans cette guilde. Si vous avez besoin de leur aide ce n’est pas forcement de l’or qu’il demanderons, il faut toujours faire gaffe.
Leur capital se trouve dans les terres désolé, gotham, toute les rue de cette ville veule votre morts
Bien sur leur chef est choisi tout simplement a la loi du plus fort.
</p>
<h2>L’évolution</h2>
<p>
Cette guilde fût l’une des premières créer pour rivalisé directement avec Royalis, il ne supporte pas la royauté, ils les méprisent, et font en sorte d’être les meilleurs afin de montrer que la population peut vivre sans domination, il se base sur une liberté total de leur concitoyen, qui en retour son bienveillant et font énormément de don.
La guilde est basé sur l’honneur et la fidélité
ils ont surement l’un des plus grand capitaux de nombre de dragon tué
leur ville est New Port Réal juste pour embéter Port Réal
leur chef est choisi par démocratie.
</p>
<h2>Lyandha</h2>
<p>
Lors de l’attaque des dragon la forêt du lyandir a été gravement touché car l’une des zones la plus peuplé de dragon, elle fut ravagé. Heureusement lors ce que les guilde puis amindrir la force des dragons. C’est ainsi que la guilde de Lyandra, depuis leur ville lyandra, on commencé a calmé la forêt qui sombre, aujourd’hui encore dans la folie et la terreur.
Leur chef est lyandir, un grand elfe qui arrive sur ses 3250 ans.
Vu qu’ils n'ont jamais eu d’autre chef il ne save pas encore comment il feront quand lyandir moura.
</p>
<h2>La feuille d’argent</h2>
<p>
Cette guilde ne croit pas en le progrès technologique mais préfère communié avec la nature afin qu’elle leur rende la protection, Cette guilde compte peut d’adepte (il s’agit meme plus d’une secte) mais ils sont néanmoins très puissant.
Nul ne connaît leur chef, Il réside dans la ville d’écologia dans fongucéa
</p>
<h2>La lune bleu</h2>
<p>
Cete guilde a posé sa ville: Hakima dans les îles siemiennes, autrefois cette îles était convoité par les siemiens et les humains, mais avec l’attaque des dragons un groupement de personnes se sont alliés pour défié et abattre ses villes créature.
Même si les conflit existent encore entre siemiens et humains, cette guildes fait en sorte d'apaiser les querelle.
Leur chef est Lee Zhou, Un kage qui a prouvé sa valoir par sa grande maitrîse de sa puissance.
A la mort d’un kage le prochain est choisi par le conseil des anciens. 
</p>

  </section>
 
 
  <!-- Copyrights Section -->
  <div class="copyright">Copyright © Maillet Antonin. All rights reserved.</div>
</div>
<!-- Main Container Ends -->
</body>
</html>
