
{% load static %}

<!doctype html>
<html lang="fr">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'home/images/Logo_2.jpg' %}" />
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>RPIC - Univers 1</title>
<link href="{% static 'home/css/singlePageTemplate.css' %}" rel="stylesheet" type="text/css">

<script>var __adobewebfontsappname__="dreamweaver"</script>
<script src="http://use.edgefonts.net/source-sans-pro:n2:default.js" type="text/javascript"></script>


</head>
<body>
<!-- Main Container -->
<div class="container">
  <!-- Navigation -->
  <header> <a href="{% url 'rpicHomep' %}">
    <h4 class="logo">RPIC</h4>
    </a>
    <nav>
      <ul>
        <li><a href="{% url 'rpicHomep' %}">HOME</a></li>
        <li><a href="{% url 'membres' %}">MEMBRES</a></li>
        <li><a href="{% url 'univers1' %}">ABOUT</a></li>
        <li> <a href="{% url 'contact' %}">CONTACT</a></li>
        <li> <a href="{% url 'index' %}">INDEX</a></li>
      </ul>
    </nav>
  </header>


  <!-- About Section -->
  <section class="about" id="about">
    <h2 class="hidden">About</h2>

<h1>Univers 1</h1>
    <p class="text_column"></p>Il y a 800 ans, Edelia vivait dans un semblant d’harmonie, les peuples étaient dirigés par des gouvernements (dictature, monarchie, démocratie) ; on distinguait alors 10 grandes nations qui ne se mêlaient pas entre elles, ils formaient ce qu’on appellerait maintenant des races :
<ul>
    <li>Les humains typés occidentaux (royauté)</li>
    <li>Les humains typés extrême orient (Empire dictatorial)</li>
    <li>Les humains typés moyen orient (démocratie)</li>
    <li>Les Simiens</li>
    <li>Les elfes blancs</li>
    <li>Les elfes noirs</li>
    <li>Les nains</li>
    <li>Les vikings</li>
    <li>Les démons</li>
    <li>Les fonguciens</li>
</ul>
</p>
    <p class="text_column"> Ils se croyaient en sécurité, mais les dragons, du jour au lendemain et
    sous les impulsions machiavéliques du grand mage noir Ragar, sont devenus fous.
    Il se sont mis à dévaster le monde d'Edelia, les citoyens mourrurent par milliers,
    l’inefficacité de la sécurité promise par les nations fut révélée au grand jour.
    Mais bien sûr, le dérèglement engendré par Ragar n’a pas seulement affecté les dragons,
    mais aussi les âmes des gens, qui se sont déréglées et qui se mirent régulièrement à rester accrocher
    à leur corps défunt. Les mages prirent rapidement l'habitude d'utiliser les fluctuations de magie pour avoir
    des informations sur les dernières pensées ou émotions d'un mort. Mais la situation était différente,
    de nombreuses âmes restèrent sur terre et créèrent ce que l'on appelle des Mires. Un grand rassemblement
    de ces Mires peut créer d'affreuses créatures nommées Sins (Sin signifiait mal des âmes dans les langages anciens),
    et ces Sins agressifs frappèrent régulièrement la population.

</p>
    <p class="text_column">Le seul peuple y ayant résisté fut alors celui des démons. Effectivement, ils sont organisés selon une
    sorte de monarchie où la famille la plus forte domine. De plus, les dragons n’ont que peu attaqué leurs terres déjà
    dévastées par leur guerre interne qui s'est passée il y a 1200 ans lors de leur découverte de cette terre, sur laquelle
     vous vivrez. (Se référer à la partie démon pour mieux comprendre).</p>
 <p class="test_column">C’est alors que naquirent les guildes, des organismes privés de la défense des nations.
 Autrefois, elles défendaient la population gratuitement car le monde était dans un état apocalyptique.
 Cependant une fois les dragons maîtrisés et tués le monde avait besoin d’un nouvel ordre mondial, et les
 Sins ne se stoppèrent pas avec la mort de Ragar. Le royaume des humains fût alors éclaté et la population
 se dirigea naturellement vers les villes que construisait les guildes.</p>
 <p class="test_column">La population oublia alors le système de gouvernement politique et décida d’être
 sous le dogme de guildes, de les payer et les nourrir contre protection. C’est alors qu’à émerger de grandes
 guildes principales, même s’il est fréquent qu’un regroupement de grands guerriers tente de se créer leurs guildes :</p>


  </section>

  <!-- Parallax Section -->
  <section>
  <h1>Les guildes :</h1>
  <ul>
<li><h2>Royalis</h2></li>
<p>
Cette guilde est ce qu’il reste de l’ancienne royauté humaine,
La guilde se situe dans l’ancienne capital des orientaux : Port Réal.
Réputée pour posséder dans leur adhérence pour une grande partie de l’ex-noblesse,
ils ont développé de grands moyens de défense des transports de marchandises
afin que leur ville se développe de façon commerciale dans cette nouvelle ère.
Leur chef est choisie par les liens du sang.
</p>
<li><h2>Stélaria</h2></li>
<p>
Cette guilde a créé la ville la plus grande en superficie : Stélaria. Les membres de Stélaria sont tous d’ex elfes blancs qui ont fini drogué au mana, ils ont développé de très grands pouvoirs magiques.
Cette guilde de par sa restriction des membres (uniquement elfes blancs) fait que certaines personnes considèrent ses membres (ou les enfants de ses membres) comme une nouvelle race : les elfes de mana.
Leur chef est choisi par la population (sorte de démocratie).
</p>
<li><h2>Isepia (votre guilde)</h2></li>
<p>
Il s’agit d’une guilde située à l’est du monde dans la ville d’Isep-town.
Isépia est une guilde très polyvalente de pars ses races et ses missions qu’elle accomplit, c’est une guilde très appréciée par la population alentour car elle fait partie de l’une des premières guildes créée qui ont servi a protéger la population des dragons.
Le chef actuel est Liemly un très grand mage assez âgé, d’une sagesse et d’une tolérance incommensurable, mais il ne faut pas oublier qu’il reste un chef qui veut développer la puissance de sa guilde.
Le chef de la guilde se décide lorsque l’ex-chef prend sa retraite (s'il vient à mourir le chef a normalement mit dans une urne le nom du successeur).
</p>
<li><h2>La pièce</h2></li>
<p>
Cette guilde a construit sa ville ; capitalisum, dans les montagnes naines, il s’agit d’une guilde marchande qui a été construite il y a une centaine d’année, car elle s'occupe de développer ses ressources en faisant sous-traiter la défense et la protection à d’autres guildes, elle n’avait donc pas sa place avant, cependant maintenant le monde semble retrouver un semblant de calme, il n’est pas rare aujourd’hui qu’un aventurier a déjà participé à une mission pour cette guilde même sans en faire partie.
Le chef est tout simplement le plus riche de la guilde au moment où il meurt.
</p>
<li><h2>Le sable doré</h2></li>
<p>
Le désert est un climat très difficile à apprivoiser.
C’est pour cela que cette guilde s’est positionnée dedans, grâce à leurs grands savoirs ils ont pu dompter
le terrain, servant alors de très bonne défense aux attaques des morts et des démons aux alentours.
Leur ville : Raha est considérée comme le cœur technologique du monde.
Cette guilde choisit leur chef de manière démocratique tous les 10 ans.
</p>
<li><h2>Anachronia</h2></li>
<p>
La folie, La démence, la perversion, tout ce qui est mentalement instable est dans cette guilde. Si vous avez besoin de leur aide ce n’est pas forcement de l’or qu’ils demanderont, il faut toujours faire gaffe.
Leur capital se trouve dans les terres désolées, Gotham, toute les rues de cette ville veulent votre mort
Bien sur leur chef est choisi tout simplement à la loi du plus fort.
</p>
<li><h2>L’évolution</h2></li>
<p>
Cette guilde fût l’une des premières créées pour rivaliser directement avec Royalis, ils ne supportent pas la royauté, ils les méprisent, et font en sorte d’être les meilleurs afin de montrer que la population peut vivre sans domination, ils se basent sur une liberté totale de leurs concitoyens, qui en retour sont bienveillant et font énormément de dons.
La guilde est basée sur l’honneur et la fidélité.
Ils ont surement l’un des plus grands capitaux de nombre de dragons tués.
Leur ville est New Port Réal juste pour embêter Port Réal.
Leur chef est choisi par démocratie.
</p>
<li><h2>Lyandha</h2></li>
<p>
Lors de l’attaque des dragons la forêt du lyandir a été gravement touché car l’une des zones la plus peuplé de dragon, elle fut ravagée. Heureusement lorsque les guildes pour amoindrir la force des dragons. C’est ainsi que la guilde de Lyandra, depuis leur ville Lyandra, a commencé à calmer la forêt qui sombre, aujourd’hui encore dans la folie et la terreur.
Leur chef est Lyandir, un grand elfe qui arrive sur ses 3250 ans.
Vu qu’ils n'ont jamais eu d’autre chef ils ne savent pas encore comment ils feront quand Lyandir mourra.
</p>
<li><h2>La feuille d’argent</h2></li>
<p>
Cette guilde ne croit pas au progrès technologique mais préfère communier avec la nature afin qu’elle leur rende la protection. Cette guilde compte peu d’adeptes (il s’agit même plus d’une secte) mais ils sont néanmoins très puissant.
Nul ne connaît leur chef, Il réside dans la ville d’écologia dans fongucéa.
</p>
<li><h2>La lune bleu</h2></li>
<p>
Cette guilde a posé sa ville : Hakima dans les îles siemiennes, autrefois cette île était convoitée par les siemiens et les humains, mais avec l’attaque des dragons un groupement de personnes se sont alliés pour défier et abattre ses viles créatures.
Même si les conflits existent encore entre siemiens et humains, cette guilde fait en sorte d'apaiser les querelles.
Leur chef est Lee Zhou, Un kage qui a prouvé sa valeur par la grande maitrise de sa puissance.
A la mort d’un kage le prochain est choisi par le conseil des anciens.
</p>
</ul>
<div class="quetes">
<h1>Liste des quêtes :</h1>
    <ul>
        <li><a style="color:#000"  href="http://www.ecodeal.fr/wp-content/uploads/Soon-Axa-Banque-en-ligne.png">Commencement : dispartition dans un village avec Jéremy. <img href="http://www.ecodeal.fr/wp-content/uploads/Soon-Axa-Banque-en-ligne.png" src="{% static 'home/images/cliquez.png' %}"style="width:100px;height:20px;"></li>
        <li><a style="color:#000"  href="{% url 'afficherQuete' 2 %}">Quête du Baron Rouge avec Jéremy. <img href="{% url 'afficherQuete' 1 %}" src="{% static 'home/images/cliquez.png' %}"style="width:100px;height:20px;"></li>
        <li><a style="color:#000"  href="{% url 'afficherQuete' 1 %}">Quête du convoit de marchandises avec Thomas. <img href="{% url 'afficherQuete' 2 %}" src="{% static 'home/images/cliquez.png' %}"style="width:100px;height:20px;"></a></li>

        <li><a style="color:#000"  href="{% url 'afficherQuete' 3 %}">Quête du Massacre des cros noirs avec Thomas. <img href="{% url 'afficherQuete' 3 %}" src="{% static 'home/images/cliquez.png' %}"style="width:100px;height:20px;"></li>
        <li><a style="color:#000"  href="{% url 'afficherQuete' 4 %}">Quête du vole de la guilde des sables dorés avec Jéremy. <img href="{% url 'afficherQuete' 4 %}" src="{% static 'home/images/cliquez.png' %}"style="width:100px;height:20px;"></li>
        <li><a style="color:#000"  href="{% url 'afficherQuete' 5 %}">Quête sur la recherche des légendes Arabes avec Antoine. <img href="{% url 'afficherQuete' 5 %}" src="{% static 'home/images/cliquez.png' %}"style="width:100px;height:20px;"></li>
    </ul>
</div>
</section>

  <!-- Copyrights Section -->
  <div class="copyright">Copyright © Maillet Antonin. All rights reserved.</div>
</div>
<!--<APPLET CODE="helloWorld.class" CODEBASE="{% static 'test' %}" WIDTH=150 HEIGHT=100 ALIGN=left>
</APPLET>-->
<!-- Main Container Ends -->
</body>
</html>
