


<script id="cid0020000142530121804" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 100%;height: 100%;">
    {"handle":"rpicchat","arch":"js","styles":{"a":"0084ef","b":100,"c":"FFFFFF","d":"FFFFFF","k":"0084ef","l":"0084ef","m":"0084ef","n":"FFFFFF","p":"10","q":"0084ef","r":100,"t":0,"fwtickm":1}}
</script>




<!--
<HTML>
<HEAD>
</HEAD>
<FRAMESET ROWS="10%,90%">
    <h1>Chat</h1>
    <a href="{% url 'rpicHomep' %}">Retour à la page d'accueil</a>
<FRAME src="{% url 'newChat' %}">
<FRAME src="{% url 'chatFrame' %}">
</FRAMESET>
</HTML>
-->

<!--
<head>
<META HTTP-EQUIV="Refresh" CONTENT="30; URL=http://www.tonSite.com/page.html">

</head>
-->